<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('users.static', filename='login_styles.css') }}">
    <title>Форма входу</title>
</head>
<body>
    
    {% include 'flash_template.html' %}

    <div class="login-container">
        <h2>Вхід</h2>
        <form action="/users/login" method="POST">
            <div class="form-group">
                <label for="username">Користувач:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Увійти">
            </div>
        </form>
    </div>
</body>
</html>

