    {% extends 'base.html' %}
    {% block title %} Profile {% endblock %}

    {% block content %}

    {% if dark_theme %}
    <link rel="stylesheet" href="{{ url_for('users.static', filename='profile_styles_dark.css') }}">
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('users.static', filename='profile_styles.css') }}">

    <div>
        <a href="{{ url_for('users.theme') }}" class="btn btn-danger mt-3">Змінити тему</a>
    </div>

    <div class="profile-container mt-4">
        <div style="display:inline-block;"><img src="{{ url_for('.static', filename='images/'+(user.image_file if user.image_file else 'delault.png')) }}" style="width: 200px"></div>
        <div>
            <h2>{{ user.username }}</h2>
            <div>{{ user.email }}</div>
            <div>{{ user.about_me if user.about_me }}</div>
        </div>
    </div>
    <a href="{{ url_for('users.logout') }}" class="btn btn-danger mt-3">Вийти</a>
    <a href="{{ url_for('users.change_password') }}" class="btn btn-danger mt-3">Змінити пароль</a>
    
    <div style="margin-top: 50px;">
        <h2>Оновити профіль:</h2>
    <form method="POST" action="{{ url_for('.update_profile') }}" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
        {% from 'form_macros.html' import render_field %}
        {{ render_field(form.username) }}
        {{ render_field(form.email) }}
        {{ render_field(form.old_email) }}
        {{ render_field(form.about_me) }}
        <!-- {{ render_field(form.image) }} -->
        <div class="form-group">
            {{ form.image.label() }}  
            {{ form.image() }}
        </div>
        <div class='form-group'>
            {{ form.submit(class='btn btn-primary') }}  
        </div>
    </form>
    </div>

<!-- Секція для роботи з кукі, яку можна вставити в будь-яку сторінку -->
<div class="cookie-container">
    <h1>Форма для роботи з кукі</h1>
    <!-- Форма для додавання куки -->
    <h2>Додати кукі</h2>
    <form id="addCookieForm" action="/users/cookies" method="post">
        <label for="cookieKey">Ключ куки:</label>
        <input type="hidden" name="_method" value="POST">
        <input type="text" id="cookieKey" name="cookieKey" required><br>

        <label for="cookieValue">Значення куки:</label>
        <input type="text" id="cookieValue" name="cookieValue" required><br>

        <label for="cookieExpires">Термін (дні):</label>
        <input type="number" id="cookieExpires" name="cookieExpires" min="1" required><br>

        <button type="submit">Додати кукі</button>
    </form>

    <!-- Форма для видалення куки за ключем -->
    <h2>Видалити кукі за ключем</h2>
    <form id="deleteCookieForm" action="/users/cookies" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <label for="deleteKey">Ключ куки для видалення:</label>
        <input type="text" id="deleteKey" name="deleteKey" required><br><br>

        <button type="submit">Видалити кукі</button>
    </form>

    <!-- Кнопка для видалення всіх кукі -->
    <form action="/users/cookies" method="post">
    <h2>Видалити всі кукі</h2>
    <input type="hidden" name="_method" value="ALL_DELETE">
    <button id="deleteAllCookiesBtn" type="submit">Видалити всі кукі</button>
    </form>
    <hr>

    <!-- Таблиця для відображення всіх кукі -->
    <h2>Таблиця кукі</h2>
    <table id="cookiesTable">
        <thead>
            <tr>
                <th>Ключ</th>
                <th>Значення</th>
            </tr>
        </thead>
        <tbody>
            {% for cookie in cookies %}
            <tr>
                <td>{{ cookie[0] }}</td>
                <td>{{ cookie[1] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}