nav {
    text-align: center; 
    padding: 10px;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    text-decoration: none;
    color: #f8f9fa;
    transition: color 0.3s;
    font-weight: bold;
}
nav ul li a:hover {
    color: #ffc107;
}

.Flask{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  .container {
    flex: 1;
  }
  
  footer {
    padding: 10px;
    text-align: center;
    color: #f8f9fa;
  }


.users{
  width:60%;
}
 
.users th, td {
      border: 1px solid #000; /* Чорна рамка для клітинок */
      padding: 10px; /* Відступи всередині клітинок */
      text-align: left; /* Текст вирівняний по лівому краю */
}