{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4" style="font-size: 1.8rem;">Всі оцінки</h2>
    
    <!-- Форма для фільтрації -->
    <form method="GET" action="" class="mb-4">
        <label for="sort" class="form-label" style="font-size: 1.2rem;">Сортувати:</label>
        <select name="sort" id="sort" class="form-select form-select-lg" style="font-size: 1rem; padding: 0.3 rem 1rem; border-radius: 0.375rem;">
            {% for i in sorts %}
                <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>
        <br>
        <button type="submit" class="btn btn-primary mt-3" style="font-size: 1rem;">Застосувати</button>
    </form>

    <!-- Стилізована таблиця -->
    <table class="table table-bordered table-striped" style="font-size: 1.1rem; width: 70%; margin-top: 50px;">
        <thead class="thead-dark">
            <tr>
                <th>Студент</th>
                <th>Предмет</th>
                <th>Оцінка</th>
            </tr>
        </thead>
        <tbody>
            {% for grade in grades %}
            <tr>
                <td>{{ grade.student }}</td>
                <td>{{ grade.subject }}</td>
                <td>{{ grade.grade }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
